@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700;900&display=swap');

body {
  background-color: #F9FAFA;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #2E3333;
  font-size: 16px;
  line-height: ;
}

h1, h2, a {
  color:#2E3333;
  font-weight: 700;
}

h1 {
  font-size :32px;
}

h2 {
  font-size :24px;
  color:#007E8A;
}

a{
  color:#00CCBC;
  text-decoration: none;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin: 24px auto;
}

.btn-green{
  background-color: #00CCBC;
  color: white;
  padding: 16px 24px;
  border-radius: 4px;
}
.btn-green:hover {
  background-color:#2E3333;
}

.img-circle{
  border-radius: 50%;
  width : 120px;
}

.list-inline {
  list-style :none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 16px;
}

.text-center {
  text-align: center;
}

#intro p {
  margin-top: 16px;
  margin-bottom: 24px;
}

#intro a {
  display: inline-block;
}

#footer a {
  font-size: 40px;
  color: rgba(0, 204, 188,0.4)
}

#footer a:hover {
  color: #2E3333;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
